/*----------------------------------------------------------------------
Digital Dark Style by Michael Fabian 'Xaymar' Dirks <info@xaymar.com>.
----------------------------------------------------------------------*/

/* The Theme now has a public GitHub repository!
	Check it out: https://github.com/Xaymar/Trello-Digital-Dark */

/*
  Lightness increases by 5% each Layer. Text is always hsl(0,0%,95%).
  Highlights are done using colors (if the website uses them).
  
  Lightness List:
    0	5%	Background
	1	10%	1st Layer
	2	15%	2nd Layer
	...
*/

* {
	background-color: transparent !Important;
	color: inherit !Important;
	border-color: inherit !Important;
}

/* -- Layer 0 -- */
Layer-0,
/* Background */ body,
div.tabbed-pane-header,
div.tabbed-pane-nav {
    background: hsl(0, 0%, 5%) !important;
    color: hsl(0, 0%, 50%) !important;
    border-color: hsl(0, 0%, 0%) !important;
}

/* -- Layer 1 -- */
Layer-1,
/* Header */ div#header,
/* List */ div.list,
/* List > Card Header */ div.list div.list-header ,
a.open-card-composer /* Button: "Add a card" */,
a.board-tile.mod-add /* "Create new board." */,
a.boards-page-board-section-header-options-item /* Board buttons */,
a.boards-page-board-section-header-options-item:hover span,
div.boards-page-board-section a.quiet-button /* Create a new team... */,
div.tabbed-pane-nav li.tabbed-pane-nav-item a.tabbed-pane-nav-item-button,
div.tabbed-pane-main-col,
.tabbed-pane-header a.button-link,
form.js-profile-form input, form.js-profile-form textarea,
/* Board Menu */ div.board-menu,
/* Board Menu > Board Navigation Buttons */ div.board-menu a.board-menu-navigation-item-link,
/* Board Menu > Power-Ups > Counter */ div.board-menu a.board-menu-navigation-item-link span.js-enabled-power-up-count,
/* Board Menu > Activity */ div.board-menu a.js-open-activity {
    background: hsl(0, 0%, 10%) !important;
    color: hsl(0, 0%, 60%) !important;
    border-color: hsl(0, 0%, 5%) !important;
}

/* -- Layer 2 -- */
Layer-2,
a.header-btn /* Header Button */,
div.list div.list-card /* List Card */,
a.list-header-menu-icon /* Button: "..." */,
a.open-card-composer:hover /* Button: "Add a card"  */,
div.window-overlay div.window /* Window Overlay */,
input.header-search-input /* Header Search */,
.boards-drawer /* Boards */,
a.board-tile.mod-add:hover /* "Create new board." */,
a.boards-page-board-section-header-options-item:hover /* Board buttons */,
a.boards-page-board-section-header-options-item:hover span,
div.boards-page-board-section a.quiet-button:hover /* Create a new team... */,
div.tabbed-pane-nav li.tabbed-pane-nav-item a.tabbed-pane-nav-item-button:hover , 
a.board-tile.mod-add,
.window-module a.button-link,
.window-module .js-search,
.setting-item .helper,
div.tabbed-pane-main-col div.action-comment,
div.tabbed-pane-main-col p.gutter,
div.tabbed-pane-main-col div.member-login,
div.tabbed-pane-main-col input.js-add-email,
div.tabbed-pane-main-col input.js-log-out-other,
div.tabbed-pane-main-col input.js-revoke,
div.tabbed-pane-main-col a.big-link,
form.js-profile-form input:hover, form.js-profile-form textarea:hover,
/* Board Menu > Member */ div.board-menu div.member,
/* Board Menu > Add Member Button */ div.board-menu a.button-link,
/* Board Menu > Board Navigation Buttons */ div.board-menu a.board-menu-navigation-item-link:hover,
/* Board Menu > Power-Ups > Counter */ div.board-menu a.board-menu-navigation-item-link:hover span.js-enabled-power-up-count,
/* Board Menu > Activity */ div.board-menu a.js-open-activity:hover,
/* Board Menu > Activity Entry */ div.board-menu div.js-menu-action-list div.phenom {
    background: hsl(0, 0%, 15%) !important;
    color: hsl(0, 0%, 70%) !important;
    border-color: hsl(0, 0%, 10%) !important;
}

/* -- Layer 3 -- */
Layer-3,
a.header-btn:hover /* Header Button */,
input.header-search-input:hover /* Header Search */, 
.list .list-card:hover /* List Card */,
a.list-header-menu-icon:hover /* Button: "..." */,
span.list-card-operation /* Button: (pencil) */,
div.pop-over /* Pop Overs */,
div.window a.button-link /* Window Overlay: Button Links */,
.boards-drawer input.js-search-boards /* Board Search */,
.boards-drawer a.quiet-button,
a.board-tile.mod-add:hover,
.window-module a.button-link:hover,
.window-module a.quiet-button:hover,
.window-module .js-search:hover,
div.tabbed-pane-main-col input.js-add-email:hover,
div.tabbed-pane-main-col input.js-log-out-other:hover,
div.tabbed-pane-main-col input.js-revoke:hover,
div.tabbed-pane-main-col a.big-link:hover,
.checklist-item:hover,
.window .action-comment,
.window .comment-box,
.window .confirm,
.window .checklist-new-item-text,
.window .checklist-item-checkbox,
.window .checklist-progress-bar,
.window .quiet-button:hover,
.window .card-detail-badge,
.window .card-detail-item-add-button,
.window .js-format-help,
.phenom,
.list .list-card .badge.is-voted,
/* Board Menu > Add Member Button */ div.board-menu a.button-link:hover {
    background: hsl(0, 0%, 20%) !important;
    color: hsl(0, 0%, 80%) !important;
    border-color: hsl(0, 0%, 15%) !important;
}

/* -- Layer 4 -- */
Layer-4,
span.list-card-operation:hover /* Button: (pencil) */,
div.window a.button-link:hover /* Window Overlay: Button Links */,
.boards-drawer input.js-search-boards:hover /* Board Search */,
.boards-drawer .sidebar-section-header-toggle-icon:hover,
.boards-drawer a.quiet-button:hover,
.boards-drawer-header,
a.js-new-tip:hover, a.js-tip:hover, .meta-link-list-item-link:hover,
.mod-notifications div.action-comment,
.window .comment-box a:hover,
.window .confirm:hover,
.window .card-detail-item-add-button:hover,
.window .dark-hover:hover .icon-sm,
.window .js-format-help:hover,
.phenom.mod-unread,
.list .list-card:hover .badge.is-voted {
    background: hsl(0, 0%, 25%) !important;
    color: hsl(0, 0%, 90%) !important;
    border-color: hsl(0, 0%, 15%) !important;
}

/* -- Layer 5 -- */
Layer-5,
.phenom.mod-unread:hover
{
    background: hsl(0, 0%, 30%) !important;
    color: hsl(0, 0%, 90%) !important;
    border-color: hsl(0, 0%, 20%) !important;
}

/* -- Unlayered Elements -- */
a /* Links */,
.header-search-icon {
    color: hsl(0, 0%, 75%) !important;
}

a:hover /* Links */,
.header-search-icon:hover, 
.header-search-icon-dark.header-search-icon:hover,
.card-composer .list-card-composer-textarea,
.window .card-detail-edit .field,
.window .comment-box .comment-box-input {
    color: hsl(0, 0%, 95%) !important;
}

.compact-board-tile-fade {
    background: rgba(0, 0, 0, .88) !important;
}

div.tabbed-pane-nav {
    border-color: hsl(0, 0%, 5%) !important;
}

div.tabbed-pane-main-col *,
div.mod-notifications .phenom {
    border-color: hsl(0, 0%, 25%) !important;
}

div.tabbed-pane-main-col input.js-add-email,
div.tabbed-pane-main-col input.js-log-out-other,
div.tabbed-pane-main-col input.js-revoke,
form.js-profile-form input.js-submit-profile,
form.js-profile-form input.js-cancel-edit-profile,
.window .confirm {
    box-shadow: none !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-color: transparent;
    color: inherit;
}

.window .comment-box .comment-box-input:focus {
    background: transparent !important;
}

/* Horizontal Bars */ hr {
	background: hsl(0, 0%, 5%) !important;
}

/* Board Menu > Activity Entry */ div.board-menu div.phenom {
	margin-left: 0px;
	margin-bottom: 2px;
	padding: 10px 5px 8px 38px;
}
/* Board Menu > Activity Entry > Member */ div.board-menu div.phenom div.phenom-creator {
	left: 5px;
}
/* Board Menu > Activity Entry > Member */ div.board-menu div.phenom.mod-other-type div.phenom-creator {
	left: 12px;
}
